.show{
    position: absolute;
    height: 100%;
    width: 100%;
}
.show>.button{
    position: absolute;
    bottom:12px;
    left:50%;
    transform: translateX(-50%);
}
#currentlyShown{
    z-index: 5;
    animation: 500ms animate forwards ;
    animation-delay: 20ms;
    transition: 0ms;
    padding:0px
}

@media (min-width:800px) {
    #currentlyShown>.describe{
        animation: 500ms animate2 forwards ;
        animation-delay: 150ms;
        height: 10%;
        bottom: 0%;
    }
}
#currentlyShown>.describe{
    animation-delay: 150ms;
    height: 10%;
    bottom: 0%;
}
#currentlyShown>.describe>.text{
    display: inline;
    text-align: start;
}
#currentlyShown>.describe>h2{
    visibility: visible !important;
    margin-top:15%;
    margin-bottom:10%;
}

@keyframes animate {
    0%{
        transform: translateY(50%);
        position: fixed;
    }
    100%{
        border-radius: 0%;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color:black;
    }
}
@keyframes animate2 {
    0%{
        transform: translateY(0%);
        top:100%;
    }
    100%{
        border-top-right-radius: 5%;
        position:absolute;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.528);
        height: 100%;
        width: 70%;
        top:0%;
    }
}