.show{
    position: absolute;
    height: 100%;
    width: 100%;
}
.show>.button{
    position: absolute;
    bottom:12px;
    left:50%;
    transform: translateX(-50%);
}
#currentlyShown{
    z-index: 5;
    animation: 500ms animate forwards ;
    animation-delay: 20ms;
    transition: 0ms;
}
.show>{

}
@keyframes animate {
    0%{
        transform: translateY(50%);
        position: fixed;
    }
    100%{
        border-radius: 0%;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color:black;
    }
}